# Byte-compiled / optimized / DLL files
**__pycache__/

# Distribution / packaging
MANIFEST

# Unit test / coverage reports
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/
